<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "cortana.chinmaym.edu.mit.scratch"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Cortana</name>

    <description>
        Cortana remasterd
    </description>

    <author href="http://scratch.mit.edu/users/chinmaym" email="chinmay.malvania@gmail.com">
        chinmaym
    </author>

</widget>
